@media (max-width: 768px) {
.header
{
width: 100%;
height: 350px;
left: 0px;
top: 0px;
background: #f9f9f9;
}

img {
object-fit: cover;
}
.body_slides{
    list-style:none;
    margin:0;
    padding:0;
    object-fit: cover;
  height: 670px;}
.body_slides,
.body_slides:after{
    width:100%;
  height: 670px;
    top:0px;
    object-fit: cover;
    left:0px;}
.body_slides:after { 
    content: '';
    object-fit: cover;
    height: 670px;
    background: transparent url(og-img.png) repeat top left;}
 
 
.body_slides li{
    width:100%;
    height: 300px;
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0;
    -webkit-animation: anim_slides 18s linear infinite 0s;
    -moz-animation: anim_slides 18s linear infinite 0s;
    -o-animation: anim_slides 18s linear infinite 0s;
    -ms-animation: anim_slides 18s linear infinite 0s;
    animation: anim_slides 18s linear infinite 0s;
}
.body_slides li:nth-child(1){
background-image: url(og-img.png) 
}
.body_slides li:nth-child(2){
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
background-image: url(bmw-x7.jpg) 
}
.body_slides li:nth-child(3){
-webkit-animation-delay: 12.0s;
-moz-animation-delay: 12.0s;
background-image: url(bmw-x7.jpg) 
}
@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
.wrapper_burger{
  margin: 0 0;
  width: 35px;
  position: absolute;
  color: white;
  text-align: center;
  height: 25px;
  font-family: 'Arial';
    top: 6px;
    cursor: pointer;
}

#check-menu{
  display: none;
}

label{
  display: block;
  position: absolute;
  top: 6 px;
  left: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 15px;
}

.burger-line{
  position: absolute;
  top: 2px;
  left: 5px;
  width: 25px;
  height: 2px;
  background-color: #000;
}

.lsecond, .lthird{
top: 9px;
}

.lfourth{
  top: 15px;
}

.main-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.navigation{
  display: block;
  width: 50%;
  padding: 20px;
  color: black;
  text-decoration: none;
  border-top: 1px solid #000;
  background: rgba(220, 88, 38, 0.75);
  border-top-right-radius: 50px;
  border-bottom-right-radius:50px ;
   border-bottom-left-radius:50px ;
   border-top-left-radius: 50px;
}

#check-menu:checked ~ .main-menu{
width: 275px;
max-height: 340px;
font-size: 10px;
}

#check-menu:checked ~ .lfirst{
  display: none;
}

#check-menu:checked ~ .lsecond{
transform: rotate(45deg);
}

#check-menu:checked ~ .lthird{
transform: rotate(-45deg);
}

#check-menu:checked ~ .lfourth{
  display: none;
}


.img_header
{
width: 100%;
height: 350px;
}
.img_logo
{
width: 40px;
height: 30px;
position: absolute;
left: 35px;
top: 0px;
}

.textlogo
{
font-style: normal;
font-weight: 170;
font-size: 5px;
line-height: 6px;
position: absolute;
left: 75px;
top: 12px;
color: #000697;
font-size: 20px;
}
#button
{
width: 100px;  
height: 25px;
left: 70%;
top: 7%;
display: flex;
border-radius: 100px;
line-height: 20px;
text-align: center;
align-content: center;
align-items: center;
margin:  auto auto;
}
.text_button{
width: 100px;  
height: 20px;
font-weight: 150;
font-size: 11px;
}
#Conteiner1
{
display: flex;
justify-content: space-around;
align-content: center;
align-items: center;
height: 250px;
background: #f9f9f9;
}
.first
{
top: 730px;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
align-items: center;
}
.content1
{

width: 45px;
height: 40px;
top: 730px;
border: 1px solid;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
align-items: center;
text-align: center;
}
.text_container1
{
font-size: 15px;
text-align: center;
}
.span_container1
{
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 60px;
text-align: center;
color: #0F3369;
}
.img_content1
{
height: 60px;
width: 60px;
}
.Title1{
background: #f9f9f9;
font-weight: 700;
font-size: 30px;
line-height: 40px;
text-align: center;
}
.Subtitle1{
background: #f9f9f9;
font-weight: 700;
font-size: 13px;
line-height: 20px;
text-align: center;
}

#Conteiner2
{
display: flex;
justify-content: space-around;
align-content: center;
align-items: center;
height: 200px;
background: #f9f9f9;
}

.second
{
width: 180px;
height: 120px;
border: 2px solid;
background: #FFFFFF;
border-radius: 40px;
display: flex;
justify-content: center;
align-content: center;
align-items: center;

}
.content2
{
width: 60px;
height: 55px;
background: white;
}
.text_container2{
  font-weight: 600;
font-size: 17px;
line-height: 20px;
margin: auto auto;
width: 95px;
height: 60px;

}
.img_container2{
  width: 60px;
height: 60px;
border-radius: 20px;
}

#Conteiner3
{
height: 1000px;
width: 370px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
align-items: center;
background: #f9f9f9;
}
.third
{
width: 280px;
height: 250px;
display: flex;
flex-direction: column;
  justify-content: center;
  align-content: center;
align-items: center;
}
.content3
{
}
.img_container3{
width: 280px;
height: 250px;
border-radius: 100px;
-webkit-filter: blur(5px);
  filter: blur(1px);
}
.img_container3:hover{
      color: white; 
    box-shadow: 0 50px 80px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
    height: 100%;
    -webkit-filter: blur(5px);
  filter: blur(0px);
    width: 100%;
  }
}
.text_container3{
  font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
}

#Conteiner4
{
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
align-items: center;
height: 900px;
background: #f9f9f9;
}
.fourth
{
width: 350px;
height: 350px;
display: flex;
flex-direction: column;
  justify-content: center;
  align-content: center;
align-items: center;
}
.content4
{
}
.img_container4{
width: 180px;
height: 180px;
}
.button_container4{
width: 200px;
height: 30px;
background: #f9f9f9;
width: device-width, initial-scale=1;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
background: rgba(63, 44, 78, 0.75);
border-radius: 650px;
color: black;
text-align: center;
font-size: 16px cover center;
display: inline-block;
text-decoration: none;
}
}
.text_container4{
width: 100px;
height: 23px;
font-weight: 700;
font-size: 10px;
line-height: 17px;
text-align: center;
color: #F906D2;
padding: auto;
margin: auto;
}

#ftextdiv
{
width: 100%;
height: 350px;
background: #f9f9f9;
}
.finaltitle{
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin: 0 5%;
}
.ftext{
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 17px;
margin: 0 5%;
}

.line
{
width: 70%;
background: black;
height: 2px solid;
}

.footerfather{
align-content: center;
align-items: center;
font-weight: 175;
font-size: 10px;
line-height: 15px;
width: 100%;
height: 100px;
background: black;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
position: absolute;
}
#footer
{
display: flex;
justify-content: space-around;
}
#logoftr{
display: flex;
flex-direction: column;
text-align: center;
width: 90px;
height: 85px;
}
.img_logo_ftr{
	left: 20px;
	margin: 0 auto;
width: 50px;
height: 40px;
}
.textlogoftr{
font-weight: 400;
font-size: 13px;
line-height: 20px;
text-align: center;

color: #007D97;
}
#ftr1{
display: flex;
width: 80px;
height: 50px;
top: 2400px;
}
.textftr1{
font-weight: 700;
font-size: 6px;
line-height: 12px;
color: #F9F9F9;
}
.networktext{
font-weight: 700;
font-size: 10px;
line-height: 19px;
color: #F9F9F9;
text-align: center;
}
#socialnetworks{
width: 150px;
height: 70px;
display: flex;
flex-direction: column;
}
#icons{
display: flex;
margin: 0 auto;
}
.ftr_logo{
width: 40px;
height: 40px;
}
.ftr2{
display: flex;
width: 90px;
height: 65px;
flex-direction: column;
}
.titleftr2{
  text-align: center;
font-weight: 700;
font-size: 9px;
line-height: 10px;
color: #F9F9F9;
margin: auto 0;
}
.textftr2{
font-weight: 700;
font-size: 6px;
line-height: 12px;
text-align: center;
color: #F9F9F9;
margin: auto 0;
}
.endtext{
font-weight: 700;
font-size: 10px;
line-height: 15px;
color: #F9F9F9;
left: 30px;
position: absolute;
}
}